/*========== Colors ==========*/
$light-blue: #E0E8FF;
$purple: #382AE1;
$dark-blue : #1E2B42;
$light-gray: #696F85;

/*========== Font and typography ==========*/
$body-font: 'Poppins', sans-serif;
$biggest-font-size: 3rem;
$bigger-font-size: 2rem;
$big-font-size: 1.5rem;
$body-font-size : 1rem;
