/*========== Imports ==========*/
@import './variables';

/*========== Main configuration ==========*/
* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

button,input {
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*========== Body ==========*/
body {
    background-color: white;
    font-family: $body-font;
    font-size: $body-font-size;
    background-color: $light-blue;
    color: $light-gray;

    // top vector
    background-image: url('/images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;

    // top vector on desktop
    @media screen and (min-width: 768px) {
        background-image: url('/images/pattern-background-desktop.svg');
        background-position: top center;
    }

}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  /*========== Wrapper Container ==========*/
.wrapper {
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

  /*========== Main Container ==========*/
.container {
    margin: 0 auto;
    background-color:white;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    max-width: 380px;
    -webkit-box-shadow: 0px 13px 20px -5px rgba(57, 42, 225, 0.274); 
    box-shadow: 0px 13px 20px -5px rgba(57, 42, 225, 0.274); 

    .inner-content {
        padding: 2rem;
    }

    img {
        max-width: 100%;    
    }
}

/*========== Summary and Description ==========*/
.details   {
    .text {
        text-align: center;
        line-height: 1.7rem;
        .title {
            font-size: 1.7rem;
            margin-bottom: 1.2rem;
            color: $dark-blue;
        }
    }
}

/*========== Plan details and pricing ==========*/
.plan {
    margin-top: 1.5rem;
    margin-bottom: 1.6rem;
    padding:1.3rem;
    border-radius: 10px;
    background-color: #F8F9FE;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .plan_details {
        display: flex;
        column-gap: 20px;

        .title {
            font-weight: bold;
            color: $dark-blue;
            margin-bottom: 0.175rem;
        }

        img {
            width: 50px;
            height: 50px;
        }
    }

    a {
        font-size: 0.875rem;
        text-decoration: underline;
        font-weight: bold;
        color: $purple;
    }

}

/*========== Payment Button ==========*/
.btn {
    background-color: $purple;

    outline: none;
    border:none;
    padding:15px 24px;
    width: 100%;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-size: 1rem; 
    cursor: pointer;
    -webkit-box-shadow: 0px 13px 20px -5px rgba(57, 42, 225, 0.418); 
    box-shadow: 0px 13px 20px -5px rgba(57, 42, 225, 0.418);
    transition: 0.3s;

    &:hover {
        background-color: white;
        color: $purple;
    }
}

/*========== Cancel link ==========*/
.cancelation {
    margin-top: 1.4rem;
    text-align: center;
    font-weight: bold;
}
